body {
  background-color: #fffffff6;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.login-panel {
  background-color: #6d3d21;
  height: 60vh;
  width: 600px;
  align-items: center;
  border-radius: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 20px;
}
.login-panel .buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.counter-btn {
  width: 300px;
  height: 50px;
  border-radius: 20px;
  color: white;
  border: none;
  background-color: rgb(223, 173, 107);
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}
.counter-btn:hover {
  background-color: rgb(175, 122, 52);
}

.kitchen-btn {
  width: 300px;
  height: 50px;
  border-radius: 20px;
  color: white;
  border: none;
  background-color: rgb(223, 173, 107);
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}
.kitchen-btn:hover {
  background-color: rgb(175, 122, 52);
}
